.hidden {
    display: none;
}

body {
    background-color: #98bc8b;
    font-family: 'Allerta Stencil', sans-serif;
    /* border: 12px double white; */
}

.jumbotron h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
}

.jumbotron {
    /* background-color:#f7f7f76b; */
    background: linear-gradient(0deg, rgb(152, 188, 133), rgba(247, 247, 247, 0.87) 100%), #f7f7f76b url(../images/jewels.jpg);
}

.collapse-button,
.instructions-button {
    color: #fff;
    background-color: #367b1b;
}

.collapse-button:hover,
.instructions-button:hover {
    color: #fff;
    background-color: #3a5231;
}

img {
    width: 100px;
    cursor:pointer;
}

.col {
    background-color:#ffffff2b;
    color: black;
    margin: 5px 10px;
    min-height: 80px;
}

.you-won {
    color: #d63636;
}

.you-lost {
    color: #29316d;
}

/* --- media queries --- */

/* tablets and bigger */
@media only screen and (min-width: 760px) {

    /* body {
       border: 13px double white;
    } */

    .crystals {
        margin-top: 40px;
    }

    img {
        width: 210px;
    }

    .col {
        min-height: 110px;
        border-radius: 3px;
        margin: 10px;
    }
} 